<hr>
<div class="row" *ngIf="loanPlan !== null">
    <div class="col-3">
        <p>Total expenses: <b>{{(loanPlan.totalInterestsPaid + loanPlan.totalPrincipalPaid).toFixed(2)}}$</b></p>
    </div>
    <div class="col-3">
        <p>Total principal: <b>{{loanPlan.totalPrincipalPaid.toFixed(2)}}$</b></p>
    </div>
    <div class="col-3">
        <p>Total interests: <b>{{loanPlan.totalInterestsPaid.toFixed(2)}}$</b></p>
    </div>
    <div class="col-3">
        <p>Total per month: <b>{{loanPlan.monthTotalRate.toFixed(2)}}$</b></p>
    </div>
</div>

<div class="row" >
    <div class="col-6" >
        <div class="mat-elevation-z8" style="margin-top:10px" [hidden]="loanPlan === null">
            <table mat-table [dataSource]="paymentsSource">
                <ng-container matColumnDef="monthNo">
                    <th mat-header-cell *matHeaderCellDef> Month No. </th>
                    <td mat-cell *matCellDef="let element"> {{element.monthsPassed}} </td>
                </ng-container>

                <ng-container matColumnDef="interests">
                    <th mat-header-cell *matHeaderCellDef> Interests[$] </th>
                    <td mat-cell *matCellDef="let element"> {{element.interestPaid.toFixed(2)}} </td>
                </ng-container>

                <ng-container matColumnDef="principal">
                    <th mat-header-cell *matHeaderCellDef> Principal[$] </th>
                    <td mat-cell *matCellDef="let element"> {{element.principalPaid.toFixed(2)}} </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>

            <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
        </div>
    </div>
    <div class="col-6">
        <div id="chartContainer"
            style="height: 370px; width: 100%; margin-left:auto;margin-right:auto; margin-bottom: 40px;">
        </div>
    </div>
</div>